<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link media="all" rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col" id="headerInfo"></div>
            <div class="col" style="text-align: right"><a href="/logout" class="link">Logout</a></div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row g-0">
        <div class="col-6 col-md-2">
            <ul class="list-group">
                <li class="list-group-item active">Admin</li>
                <li class="list-group-item"><a href="/user" class="link">User</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-10">
            <div class="column">

                <div style="font-size: 40px">Admin panel</div>
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/new">New user</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div style="font-size: 18px; text-align: left"><b>Add new user</b></div>
                    </div>
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                </div>
                                <div class="col-sm">

                                    <form method="POST" id="newUserForm">
                                        <div class="form-group">
                                            <label for="name"><b>First name</b></label>
                                            <input type="text" class="form-control" width="20px" id="name"
                                                   placeholder="First name" name="username"/>
                                            </br>
                                            <label for="surname"><b>Last name</b></label>
                                            <input type="text" class="form-control" id="surname" placeholder="Last name"
                                                   name="surname"/>
                                            </br>
                                            <label for="age"><b>Age</b></label>
                                            <input type="text" class="form-control" id="age" placeholder="Age"
                                                   name="age"/>

                                            </br>
                                            <label for="email"><b>Email</b></label>
                                            <input type="email" class="form-control" id="email" placeholder="Email"
                                                   name="email"/>
                                            </br>
                                            <label for="password"><b>Password</b></label>
                                            <input type="password" class="form-control" id="password"
                                                   placeholder="Password" name="password"/>
                                            </br>
                                            <div class="form-group">
                                                <label for="roleSelect"><b>Role</b></label>
                                                <select multiple class="form-control" id="roleSelect" name="roles">
                                                </select>
                                            </div>
                                            </br>
                                            <input type="submit" class="btn btn-success" value="Add new user"
                                                   id="buttonCreate"/>

                                        </div>
                                        </br>
                                    </form>
                                </div>
                                <div class="col-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="http://localhost:8080/webjars/jquery/3.3.1/jquery.min.js"
        callback="the_name_of_your_callback_function"></script>
<script src="/js/create_scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>